Scheduled flow for a process that changes every week/Scheduled-flow-with-different-process-every-week.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"interval":1,"frequency":"Week","schedule":{"weekDays":["Monday"]}},"type":"Recurrence"}},"actions":{"Get_the_current_week_number":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"currentWeekNo","type":"integer","value":"@add(div(dayOfYear(utcNow()),7),1)"}]}},"Get_if_Odd_or_Even_week_number":{"runAfter":{"Get_the_current_week_number":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"checkWeekNo","type":"integer","value":"@mod(variables('currentWeekNo'),2)"}]}},"Condition":{"actions":{"Show_output_for_Even_week_number":{"type":"Compose","inputs":"@concat('Week Number:',variables('currentWeekNo'),' (The Week Number is an Even Number)')"}},"runAfter":{"Get_if_Odd_or_Even_week_number":["Succeeded"]},"else":{"actions":{"Show_output_for_Odd_week_Number":{"type":"Compose","inputs":"@concat('Week Number:',variables('currentWeekNo'),' (The Week Number is an Odd Number)')"}}},"expression":{"and":[{"equals":["@variables('checkWeekNo')",0]}]},"type":"If"}},"outputs":{}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-C8E8184C7288462B805A4C130FB269FA"}},"integrationAccount":{"name":"f01d576b266d44c38d598147ef5802cf-westus","id":"subscriptions/9f3a0e5f-8058-487f-9d45-d3ff51164c54/resourceGroups/f01d576b266d44c38d598147ef5802cf-ia/providers/Microsoft.Logic/integrationAccounts/f01d576b266d44c38d598147ef5802cf-westus","type":"Microsoft.Logic/integrationAccounts"}}}]}